.card-grid {
    /* CSS to get the cards in nice uniform rows of 2 */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0;
}
 
 .img-wrapper {
     position: relative;
     overflow: hidden;
 }
 
 .img-wrapper > img {
     display: block;
     width: 100%;
     aspect-ratio: 1 / 1;
     object-fit: cover;
     object-position: center;
 }
 
 .img-wrapper > .card-text {
     position: absolute;
     inset: 0;
     font-size: 0.95rem;
     padding: 1rem;
     background: rgba(255, 255, 255, .4);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .img-wrapper > img,
 .img-wrapper > .card-text {
    transition: 200ms ease-in-out;
 }
/* CSS for the cool blur effect when you hover over the cards on the portfolio page */
.img-wrapper:hover > img.blur {
    filter: blur(3px);
}

 .img-wrapper > .card-text.fade {
    opacity: 0;
 }

.img-wrapper:hover > .card-text.fade {
    opacity: 1;
}
 
.card-avatar{
    border-radius: 50%;
    margin-top: 10px;
}
/* css to get the git logo to scale up in size a bit when hovered over on the portfolio page */
.card-avatar:hover {
    transform: scale(1.1);
}