* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div {
    background-color:rgba(108, 149, 185, 0.884);
}

header {
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: hsla(0, 0%, 100%, 0.897);
}

footer {
    background-color: #2a607c;
    color: black;
    font-size: 2rem;
    text-align: center;
}

h1 {
    display:inline-block;
    font-size: 3rem;
    }

li {
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 25px;
}

a {
    color: hsla(0, 0%, 100%, 0.897);
    text-decoration: none;
}

a:hover {
    background-size: 100% 100%;
    color: lightblue
}

a.active {
    color: lightblue;
}

.text-right {
    text-align: right;
    margin-right: 20px;
    padding-top: 15px;
    float: right;
}

.about-me-container {
    text-align: left;
    color: hsla(0, 0%, 100%, 0.897);
    margin: 0px; 
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-me-text-top {
    margin: 20px 0 0 20px;
    font-size: 2rem;
    font-family: arial;
}

.about-me-text {
    margin: 20px 0 0 20px;
    font-size: 2rem;
    font-family: arial;
}

.avatar {
    margin: 10px 0 0 20px;
    border-radius: 50%;
    width: 150px;
    height: 150px
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.ul-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top:20px;
}

.res-Span {
    color: rgba(70, 70, 228, 0.562);
}

.li-space{
    margin-bottom: 10px;
}

@media (max-width: 400px) {
    nav {
      display: grid; 
      grid-template-columns: repeat(1, 1fr);
      text-align: left; 
    }
    .about-me-container{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    footer {
        display: grid; 
        grid-template-columns: repeat(1, 1fr);
    }
}