
div {
    background-color:rgba(108, 149, 185, 0.884);
    font-size: 2rem
}

header, footer {
    background-color: aqua;
    color: black;
    font-size: 2rem
}

img {
    width: 100px;
    height: 125px
}

main, p, h1 {
    padding: 0px;
    margin: 0px
}

